* {
    box-sizing: border-box;
}

/* fonts */

@font-face {
    font-family: Montserrat ;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf)
}


html {
    font-family: Montserrat;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-size: 1rem;
    margin: 0px;
    max-width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 70px 1fr 200px;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
    background-color: whitesmoke;
}

.main-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .35);
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    
    transition: opacity .6s;
}

body.menu-open .main-screen {
    pointer-events: auto;
    opacity: 1;
}
body.modal-open .main-screen {
    pointer-events: auto;
    opacity: 1;
}

.logo img {
    height: 25px;
    width: auto;
}

.main-layout{
    width: 100%;
}

/* header */

.main-header{
width: 100%;
height: 70px;
background-color:#79B4B7 ;
grid-area: header;
position: fixed;
z-index: 1;
}

.header-container{
    height: 100%;
}


.main-nav {
    color: #fff;
}

.main-nav .nav-container li {
    border-inline-end: 1px solid #292929;
}

.main-nav .nav-container li:first-child {
    border-inline-start: 1px solid #292929;
}

.nav-container a {
    width: 130px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    text-decoration: none;
    transition:  box-shadow .3s;
}

.nav-container a:hover {
    box-shadow: inset 0px -6px 0 #292929;
    color: #292929;
}

.nav-container a.active {
    box-shadow: inset 0px -6px 0 #292929;
    color: #292929;
    cursor: default;
}

/* main */

/* modal */
.main-content .modal {
    position: absolute;
    background-color: white;
    /* min-width: 500px;
    min-height: 500px;   */
    width: 80vw;
    min-height: 80vw;
    top: 10%;
    left: 10%;
    border:5px solid #292929;
    justify-content: center;
    z-index: 2;
    display: none;
    padding: 20px 50px;
    font-size: 1.6rem;
}

body.modal-open .main-content .modal {
    display: flex;
}

/* about */
body.modal-open .main-content .modal .about-container {
    flex-direction: column;
}

body.modal-open .main-content .modal .about-container img {
    width: 200px;
}
body.modal-open .main-content .modal .about-container .social-buttons li{
    margin: 5px;
    background-color: #292929;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2rem;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body.modal-open .main-content .modal .about-container .social-buttons li a{
    color: white;
}
body.modal-open .main-content .modal .about-container .social-buttons li a:hover{
    color: #79B4B7;
}

/* saved memes modal*/
body.modal-open .main-content .modal .imgs-container {
    width: 100%;
display: grid;
/* grid-template: auto/repeat(3,33%); */
padding: 10px;
}

body.modal-open .main-content .modal .imgs-container .meme-card{
    display: block;
width: 100%;
}

body.modal-open .main-content .modal .imgs-container img {
    display: block;
    max-width: 100%;
    max-height: 250px;
padding: 2px;
margin: 0px auto;
}
body.modal-open .main-content .modal .imgs-container .lines {
flex-direction: column;
/* margin-inline-start: 10px; */
}
body.modal-open .main-content .modal .imgs-container .lines p{
    display: block;
font-size: 1em;
padding: 0px;
margin: 2px auto;

}



/* editor */

.main-content{
    grid-area: main;
}

.meme-editor {
    width: 100%;
    margin: 0px auto;
    display: none;
}

.main-content h1{
text-align: center;
}


.controls {
width: 50%;
height: 500px;
    display: grid;
    grid-template: repeat(7,1fr)/repeat(5,20%);
}

.main-content .controls button img{
    width: 30px;
}

.controls button {
    border: none;
    background: rgba(255, 255, 255, 0.781);
    border-radius: 5px;
    margin: 2px;
    border: 1px solid #292929;
}
.controls button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px #292929;
}

.controls .line-txt {
    grid-area: 1/1/2/6;
    font-size: 1.8rem;
    border-radius: 5px ;
    /* margin-bottom: 5px; */
    text-align: center;
}

.controls .arrows{
    grid-area: 2/2/3/3;
}

.controls .plus{
    grid-area: 2/3/3/4;
}

.controls .trash{
    grid-area: 2/4/3/5;
}

.controls .a-plus {
    grid-area: 3/1/4/2;
}

.controls .a-minus {
    grid-area: 3/2/4/3;
}

.controls .align-left {
    grid-area: 3/3/4/4;
}

.controls .align-center {
    grid-area: 3/4/4/5;
}

.controls .align-right {
    grid-area: 3/5/4/6;
}

.controls .font {
    grid-area: 4/1/5/4;
    border-radius: 5px;
    margin: 2px;
}

.controls .stroke{
    grid-area: 4/4/5/5;
    justify-content: center;
    align-items: center;
}

.controls .stroke img{
    position:absolute;

}
.stroke-btn {
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    grid-area: 4/4/5/5;
}

.controls .color{
    grid-area: 4/5/5/6;
    justify-content: center;
    align-items: center;
}

.controls .color img{
    position:absolute;
}

.color-btn {
    width: 100%;
    height: 100%;
	z-index: 1;
	opacity: 0;
    grid-area: 4/4/5/5;
}

.controls .save {
    grid-area: 6/2/7/5;
    background-color: #79B4B7;
    color: whitesmoke;
    font-size: 1.6rem;
    border: 1px solid #292929;
}

.controls .download {
    grid-area: 7/1/8/3;
    background-color: #79B4B7;
    margin: 0px;
    border: 1px solid #292929;
}

.controls .download a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.6rem;
}

.controls .share {
    grid-area: 7/4/8/6;
    background-color: #79B4B7;
    color: whitesmoke;
    font-size: 1.6rem;
    margin: 0px;
    border: 1px solid #292929;
}


/* gallery */

.gallery .imgs-container {
    display: grid;
}


.gallery .imgs-container img {
    max-width: 100%;
    padding: 2px;
}

.gallery .imgs-container img:hover {
    box-shadow: 0px 0px 10px black ;
    cursor: pointer;
    background-color: #292929;
}




/* footer */

.main-footer {
    width: 100%;
    height: 200px;
    background-color:#79B4B7 ;
    margin-bottom: 0px;
    grid-area: footer;
}

.footer-container{
    height: 100%;
    text-align: center;
    flex-direction: column;
}

.footer-container .logo{
    margin: 50px auto;
    height: fit-content;
}

/* .footer-container small {
    margin-top: 40px;
} */

/* helpers */

.flex {
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-layout{
    max-width: 1200px;
    margin: 0 auto;
}

/* BREAKPOINTS */

/* MOBILE ONLY */
@media (max-width: 900px) {

    body {
        width: 100vw;
        /* min-height: 100vh; */
    }

    /* hamburger */
    .header-container ul {
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        background-color: rgba(172, 172, 172, 0.788);
        height: 100%;
        border-inline-start: 1px solid #e5e5e5;
        width: 160px;
        transform: translateX(100%);
        transition: transform .6s, box-shadow .6s;
    }
    
    body.menu-open .header-container ul {
        box-shadow: 0px 0px 30px rgb(0 0 0 / 30%);
        transform: translateX(0);
    }

    .header-container .logo {
        margin-inline-start: 10px;
    }

    .btn-menu {
        margin-inline-end: 10px;
    }

    .header-container ul li {
        border-bottom: 1px solid #e5e5e5;
    }

    .header-container ul a {
        display: block;
        padding: 6px 10px;
        transition: background-color .3s;
        width: 100%;
    }

    .header-container ul a:hover {
        text-decoration: none;
        background-color: #eee;
        color: #292929 ;
        /* color: inherit; */
    }
    
    .main-content .canvas-container{
        flex-direction: column;
        align-items: center;
    }
    
    .main-content .canvas-container .canvas{
        margin-bottom: 20px;
    }
    
    .main-content .controls {
        height: 400px;
        width: 400px;
    }
    .gallery .imgs-container {
    grid-template: auto/repeat(2,1fr);
    }
}

/* SMALL */
@media (min-width: 590px) {
    .main-layout {
        max-width: 550px;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }
    .gallery .imgs-container {
    grid-template: auto/repeat(3,1fr);
}
}

/* MEDIUM */
@media (min-width: 900px) {
    .main-layout {
        max-width: 860px;
    }
    
    .btn-menu {
        display: none;
    }
    
    /* .main-content .controls {
        padding-inline-start: 10px;
    } */
    .gallery .imgs-container {
    grid-template: auto/repeat(4,1fr);
    }

    .main-content .controls {
        margin-inline-start: 5px;
    }
    body.modal-open .main-content .modal .imgs-container {
    grid-template: auto/repeat(2,50%);
    }
}

/* LARGE */
@media (min-width: 1140px) {
    .main-layout {
        max-width: 1100px;
    }
    body.modal-open .main-content .modal .imgs-container {
    grid-template: auto/repeat(3,33%);
    }
}
